# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo


# Virtual environment
venv/
.env/

# Logs
*.log

# VSCode settings (если используете VSCode)
.vscode/

# PyInstaller
*.spec
dist/
build/

# Bytecode
*.pyc
